.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 400px 200px;
    margin-top: 5%;
    
}
.mainPoster{
    justify-self: center;
    align-self: center;
}
.subContainer{
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
}
.title{
    font-size: 60px;
    font-weight: 500;
    color: #06080A;
}
.phrase{
    color: #36717F;
    font-size: 1.2em;
    margin-top: 5%;
}