nav{
    width: 100vw;
    background: #278ea5;
   position: relative;
}
.item1{
    grid-column: 1/ span 1;
}
.item2{
    grid-column: 2/ span 1;
}
.item3{
    grid-column: 3/ span 1;
}
.item4{
    grid-column: 4/ span 1;
}
.item5{
    grid-column: 5/ span 1;
}
.item6{
    grid-column: 6/ span 1;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}